@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.portfolio {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Roboto';
  background: black;
  height: auto;
  justify-content: center;
}

.nav {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Roboto';
  box-shadow: 1px 2px 10px #ccc;
  width: 100%;
  z-index: 1;
  background: rgb(42, 39, 39);
  justify-content: end;
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.introduction {
  padding: 30px;
  margin-top: 50px;
  position: relative;
}

.headsec {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f87213;
  justify-content: left;
}

.headthree {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

p {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fefcfc;
}

.social-media a {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  transition: 3s;
}

.nav a {
  text-decoration: none;
  color: #ffff;
  padding: 0.7rem;
  font-size: 1rem;
}

.social-media a:hover {
  text-shadow: #f87213;
  background: hwb(25 0% 0%);
  color: rgb(97, 91, 91);
  transition: 0.4s;
}

.nav a:hover {
  background: hwb(25 0% 0%);
  color: rgb(97, 91, 91);
  transition: 0.4s;
}

.social {
  display: flex;
  justify-content: space-around;
}

.mainmyworks {
  background-color: rgb(251, 249, 249);
  padding-top: 40%;
  margin-bottom: 20%;
  padding-bottom: 40%;
}

.headtwo {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 52px;
  margin-bottom: 25px;
  display: flex;
  justify-items: center;
  color: #010101;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  padding-left: 20%;
  padding-right: 10%;
}

.liner {
  color: rgb(11, 0, 0);
  border-bottom: none;
  margin-bottom: 80px;
}

.workitems {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 10%;
}

.photo img {
  width: 100%;
  position: relative;
  padding-top: 0%;
}

.headfour {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #01050c;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 7px;
}

.page p {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #00040a;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 10px;
}

.pagelinks {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding: 15px;
}

.pagelinks li {
  display: flex;
  justify-content: space-around;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 10px;
  color: black;
  border: #888b90 solid 0.1px;
  width: fit-content;
  padding: 8px;
}

.button {
  background-color: #f87213;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: rgb(255, 255, 254);
  cursor: pointer;
  border: none;
  width: fit-content;
}

.button:hover {
  background-color: #726868;
  border: none;
}

.project {
  background-image: url(Images/Background.png);
  background-position: center;
  background-size: no-repeat;
  margin: 25px;
}

.contenthead {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  color: #fdf6f6;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 25%;
  padding-left: 15px;
}

.contentp {
  padding-left: 15px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5f4f4;
  order: 1;
  flex-grow: 0;
}

.projectlinks {
  display: flex;
  width: 85%;
  justify-content: space-around;
  padding: 10px;
}

.projectlinks li {
  display: flex;
  justify-content: space-around;
  padding: 9px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: rgb(245, 240, 240);
  border: 0.5px none white;
  list-style-type: none;
  width: 30%;
  background: #58595c;
  opacity: 0.6;
}

.btn {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 13px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: hsl(24, 29%, 97%);
  background-color: #f65803;
  border: none;
}

.aboutsection {
  background-color: black;
  padding-bottom: 65%;
  background-image: url(Images/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position: right 270px;
}

.about-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  gap: 30px;
  text-align: start;
}

.aboutmehead {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
}

.container2 {
  display: grid;
  margin: auto;
  grid-template-columns: 100%;
  row-gap: 15px;
}

.buttn {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
  border: none;
  color: #edeae9;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #f65803;
}

.line {
  color: rgb(251, 242, 242);
  border-bottom: none;
  margin-bottom: 100%;
  margin-top: 70%;
}

.tools {
  position: relative;
  top: -500px;
}

.toolhead {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'InaiMathi';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: hsl(0, 0%, 100%);
  flex: none;
  order: 1;
  flex-grow: 0;
  background: black;
  border-bottom: 1px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 30px;
}

.toolhead img {
  margin-top: -80px;
  margin-left: -37px;
}

.toolhead li {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: hwb(0 100% 0%);
}

/* stylelint-disable-next-line no-descending-specificity */
a {
  text-decoration: none;
}
